.moon {
    position: absolute;
    width: 250px;
    height: 250px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 50%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #d8d8d8;
    box-shadow: inset 15px 15px 10px #999;

}
.dog {
    width: auto;
    height: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    background: transparent url('./shadow_dog.png');
    width: auto;
    height: auto;
    /* transform: translate(-50%, -50%); */
}